*.iml
.gradle
/local.properties
/.idea/
.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Кэши и логи
*.log
build/

# Специфично для Android Studio
*.stacktrace
/captures/

# Google Services
# google-services.json (раскомментируй, если используешь Firebase и не хочешь шарить ключ)
